<div class="form-group">
  <label for="exampleURL">URL</label>
  <input type="text" id="link-url" class="form-control" placeholder="URL" name="url">
</div>
<div class="form-group">
  <label for="exampleTitle">Title</label>
  <input type="text" id="link-title" class="form-control" placeholder="Link Title" name="title">
</div>
<div class="form-group">
  <label for="exampleAddress">Tags</label>
  <input type="text" id="link-tag" class="form-control" placeholder="Add Tags Here" name="tag">
</div>
<button type="submit" class="btn btn-default">Submit</button>
